In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\RABIN RESIN\\Desktop\\luminar\\development-journey\\mechine learning journey\\pandas-works\\tasks\\task6\\world_famous_places_2024.csv")
df.shape

(30, 13)

In [2]:
df.head()

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
0,Eiffel Tower,France,Paris,7.0,Monument/Tower,No,1889,35,May-June/Sept-Oct,Western Europe,95,2.5,"Iconic iron lattice tower, symbol of Paris"
1,Times Square,United States,New York City,50.0,Urban Landmark,No,1904,0,Apr-June/Sept-Nov,North America,70,1.5,"Bright lights, Broadway shows, New Year's Eve ..."
2,Louvre Museum,France,Paris,8.7,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"
3,Great Wall of China,China,Beijing/Multiple,10.0,Historic Monument,Yes,220 BC - 1644 AD,10,Apr-May/Sept-Oct,East Asia,180,4.0,Ancient defensive structure visible from space
4,Taj Mahal,India,Agra,7.5,Monument/Mausoleum,Yes,1653,15,Oct-March,South Asia,65,2.0,"White marble mausoleum, symbol of love"

In [3]:
df.columns

Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')

In [4]:
df.isnull().sum()

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [8]:
# How many tourist places are listed in the dataset?
df["Place_Name"].count()

np.int64(30)

In [10]:
# Which countries have the highest number of tourist attractions?
df["Country"].value_counts().head(1)

Country
United States    10
Name: count, dtype: int64

In [11]:
# Which regions are most represented in the dataset?
df["Region"].value_counts().head(1)

Region
North America    10
Name: count, dtype: int64

In [12]:
# What are the most common types of tourist attractions?
df["Type"].value_counts().head(1)

Type
Historic Monument    3
Name: count, dtype: int64

In [19]:
# Which place has the highest annual visitors?
df.groupby("Place_Name")["Annual_Visitors_Millions"].sum().sort_values().idxmax()

'Times Square'

In [26]:
# Do UNESCO World Heritage sites attract more visitors than non-UNESCO sites?
df.groupby("UNESCO_World_Heritage")["Annual_Visitors_Millions"].mean()

UNESCO_World_Heritage
No     17.830769
Yes     6.361765
Name: Annual_Visitors_Millions, dtype: float64