In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("c:\\Users\\RABIN RESIN\\AppData\\Local\\Packages\\5319275A.WhatsAppDesktop_cv1g1gvanyjgm\\LocalState\\sessions\\1979BB3F2DD2C702E353B92BC15399D3ACE88C8F\\transfers\\2026-05\\customer_data_cleaning_eda.csv")
df.shape

(1020, 11)

In [5]:
df.columns

Index(['CustomerID', 'Country', 'Age', 'Gender', 'Salary', 'Purchased',
       'SpendingScore', 'VisitsPerMonth', 'SatisfactionScore', 'JoinDate',
       'Churn'],
      dtype='object')

In [6]:
df.head()

,CustomerID,Country,Age,Gender,Salary,Purchased,SpendingScore,VisitsPerMonth,SatisfactionScore,JoinDate,Churn
0,1,Italy,29.0,Male,60000.0,No,59,2,1.0,2019-09-15,0
1,2,India,61.0,Male,31000.0,Yes,5,3,NaN,2020-09-14,0
2,3,Germany,53.0,Female,54000.0,Yes,51,1,2.0,2020-03-13,1
3,4,India,65.0,Female,NaN,Yes,21,7,2.0,2019-06-19,0
4,5,India,21.0,Male,84000.0,Yes,12,5,4.0,2018-10-29,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1020 non-null   int64
 1   Country            1020 non-null   object
 2   Age                931 non-null    float64
 3   Gender             971 non-null    object
 4   Salary             922 non-null    float64
 5   Purchased          1020 non-null   object
 6   SpendingScore      1020 non-null   int64
 7   VisitsPerMonth     1020 non-null   int64
 8   SatisfactionScore  875 non-null    float64
 9   JoinDate           1020 non-null   object
 10  Churn              1020 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 87.8+ KB

In [8]:
df.describe()

,CustomerID,Age,Salary,SpendingScore,VisitsPerMonth,SatisfactionScore,Churn
count,1020.000000,931.000000,922.000000,1020.000000,1020.000000,875.000000,1020.000000
mean,499.496078,43.998926,69331.887202,50.529412,2.992157,3.106286,0.194118
std,289.213164,14.691780,28334.255127,28.637392,1.746421,1.405740,0.395714
min,1.000000,18.000000,20000.000000,1.000000,0.000000,1.000000,0.000000
25%,249.750000,32.000000,45000.000000,25.000000,2.000000,2.000000,0.000000
50%,497.500000,44.000000,68500.000000,52.000000,3.000000,3.000000,0.000000
75%,750.250000,56.500000,93000.000000,75.000000,4.000000,4.000000,0.000000
max,1000.000000,69.000000,119000.000000,100.000000,10.000000,5.000000,1.000000