In [85]:
import pandas as pd
import numpy as np

In [86]:
df=pd.read_csv("C:\\Users\\RABIN RESIN\\Desktop\\luminar\\development-journey\\mechine learning journey\\descision-tree\\random forest\\dog\\dog_health_dataset_10000.csv.xls")
df.shape

(10000, 12)

In [87]:
df.head()

,Dog Breed,Dog Age,Dog Weight,Symptom 1,Symptom 2,Symptom 3,Symptom 4,Symptom 5,Disease,Precautions,Treatment,Emergency
0,Labrador Retriever,9,44.2,Hair loss,Diarrhea,Coughing,Skin rash,Sneezing,Fungal Infection,Keep skin dry,Antifungal cream,No
1,German Shepherd,7,20.6,Skin rash,Hair loss,Diarrhea,Limping,Sneezing,Allergy,Avoid allergens,Antihistamines,No
2,Poodle,15,5.4,Loss of appetite,Vomiting,Diarrhea,Limping,Lethargy,Digestive Disorder,Balanced diet,Diet change,No
3,Labrador Retriever,12,44.3,Skin rash,Sneezing,Limping,Hair loss,Lethargy,Allergy,Avoid allergens,Antihistamines,No
4,Rottweiler,2,21.2,Skin rash,Hair loss,Sneezing,Vomiting,Fever,Allergy,Avoid allergens,Antihistamines,No

In [88]:
df.columns

Index(['Dog Breed', 'Dog Age', 'Dog Weight', 'Symptom 1', 'Symptom 2',
       'Symptom 3', 'Symptom 4', 'Symptom 5', 'Disease', 'Precautions',
       'Treatment', 'Emergency'],
      dtype='object')

In [89]:
df.isnull().sum()

Dog Breed      0
Dog Age        0
Dog Weight     0
Symptom 1      0
Symptom 2      0
Symptom 3      0
Symptom 4      0
Symptom 5      0
Disease        0
Precautions    0
Treatment      0
Emergency      0
dtype: int64

In [90]:
df[df.duplicated()]

Empty DataFrame
Columns: [Dog Breed, Dog Age, Dog Weight, Symptom 1, Symptom 2, Symptom 3, Symptom 4, Symptom 5, Disease, Precautions, Treatment, Emergency]
Index: []

In [91]:
df["Emergency"].value_counts()

Emergency
No     8009
Yes    1991
Name: count, dtype: int64

In [92]:
df.drop(columns=["Precautions","Treatment","Emergency"],inplace=True)

In [93]:
syptom_columns=["Symptom 1","Symptom 2","Symptom 3","Symptom 4","Symptom 5"]
df["all_symptoms"]=df[syptom_columns].values.tolist()

In [94]:
df.head()

,Dog Breed,Dog Age,Dog Weight,Symptom 1,Symptom 2,Symptom 3,Symptom 4,Symptom 5,Disease,all_symptoms
0,Labrador Retriever,9,44.2,Hair loss,Diarrhea,Coughing,Skin rash,Sneezing,Fungal Infection,"[Hair loss, Diarrhea, Coughing, Skin rash, Sne..."
1,German Shepherd,7,20.6,Skin rash,Hair loss,Diarrhea,Limping,Sneezing,Allergy,"[Skin rash, Hair loss, Diarrhea, Limping, Snee..."
2,Poodle,15,5.4,Loss of appetite,Vomiting,Diarrhea,Limping,Lethargy,Digestive Disorder,"[Loss of appetite, Vomiting, Diarrhea, Limping..."
3,Labrador Retriever,12,44.3,Skin rash,Sneezing,Limping,Hair loss,Lethargy,Allergy,"[Skin rash, Sneezing, Limping, Hair loss, Leth..."
4,Rottweiler,2,21.2,Skin rash,Hair loss,Sneezing,Vomiting,Fever,Allergy,"[Skin rash, Hair loss, Sneezing, Vomiting, Fever]"

In [95]:
df.drop(columns=syptom_columns,inplace=True)

In [96]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb=MultiLabelBinarizer()
symptom_encoded=mlb.fit_transform(df["all_symptoms"])
df.drop(columns="all_symptoms",inplace=True)

In [97]:
symptom_encoded.dtype

dtype('int64')

In [98]:
symptom_encoded_df=pd.DataFrame(symptom_encoded,columns=mlb.classes_,index=df.index)

In [99]:
df=pd.concat([df,symptom_encoded_df],axis=1)

In [100]:
df.head()

,Dog Breed,Dog Age,Dog Weight,Disease,Coughing,Diarrhea,Fever,Hair loss,Lethargy,Limping,Loss of appetite,Skin rash,Sneezing,Vomiting
0,Labrador Retriever,9,44.2,Fungal Infection,1,1,0,1,0,0,0,1,1,0
1,German Shepherd,7,20.6,Allergy,0,1,0,1,0,1,0,1,1,0
2,Poodle,15,5.4,Digestive Disorder,0,1,0,0,1,1,1,0,0,1
3,Labrador Retriever,12,44.3,Allergy,0,0,0,1,1,1,0,1,1,0
4,Rottweiler,2,21.2,Allergy,0,0,1,1,0,0,0,1,1,1

In [101]:
x=df.drop(columns="Disease")
y=df["Disease"]
y

0         Fungal Infection
1                  Allergy
2       Digestive Disorder
3                  Allergy
4                  Allergy
               ...
9995               Allergy
9996                  Cold
9997    Digestive Disorder
9998          Kennel Cough
9999            Joint Pain
Name: Disease, Length: 10000, dtype: object

In [102]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("encoder",OneHotEncoder(),[0])],remainder="passthrough")
x=pd.DataFrame(ct.fit_transform(x))
x

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
9996,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
9998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [103]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

In [104]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [105]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
xtrain=scaler.fit_transform(xtrain)
xtest=scaler.transform(xtest)

In [106]:
from imblearn.over_sampling import SMOTE
sm=SMOTE(random_state=42)
xtrain_smote,ytrain_smote=sm.fit_resample(xtrain,ytrain)

In [107]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score,f1_score
models=[KNeighborsClassifier,GaussianNB,DecisionTreeClassifier,RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier]
for model in models:
    md=model()
    md.fit(xtrain_smote,ytrain_smote)
    ypred=md.predict(xtest)
    print("============",model)
    print("accuracy",accuracy_score(ytest,ypred)*100)

============ <class 'sklearn.neighbors._classification.KNeighborsClassifier'>
accuracy 19.400000000000002
============ <class 'sklearn.naive_bayes.GaussianNB'>
accuracy 18.65
============ <class 'sklearn.tree._classes.DecisionTreeClassifier'>
accuracy 20.549999999999997
============ <class 'sklearn.ensemble._forest.RandomForestClassifier'>
accuracy 18.65
============ <class 'sklearn.ensemble._weight_boosting.AdaBoostClassifier'>
accuracy 20.4
============ <class 'sklearn.ensemble._gb.GradientBoostingClassifier'>
accuracy 21.05

In [108]:
from sklearn .ensemble import AdaBoostClassifier,GradientBoostingClassifier
abc=AdaBoostClassifier(random_state=42)
gbc=GradientBoostingClassifier(random_state=42)
abc.fit(xtrain_smote,ytrain_smote)
ypred=abc.predict(xtest)
print(accuracy_score(ytest,ypred)*100)
gbc.fit(xtrain_smote,ytrain_smote)
ypred=gbc.predict(xtest)
print(accuracy_score(ytest,ypred)*100)

20.4
21.05

In [111]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(xtrain_smote,ytrain_smote)
ypred=xgb.predict(xtest)
accuracy_score(ytest,ypred)*100

19.6